@{
    ViewBag.Title = "Corridas em Andamento";
}
@section banner{
    <div id="banner" class="row">
        <div class="col-md-7"></div>
        <div class="col-md-4 col-md-pull-1 pull-right">
            <ul>
                <li>
                    <h3>
                        CADASTRE
                        <strong>SUA CORRIDA</strong>
                    </h3>
                    <p>
                        Cadastre uma nova corrida e convide seus amigos para participar. Tudo é muito simples. Você define as regras, e convida
                        seus amigos para participar de sua corrida.
                    </p>
                </li>
                <li>
                    <h3>
                        DEFINA
                        <strong>AS REGRAS</strong>
                    </h3>
                    <p>
                        Você define as regras de sua corrida! As corridas podem ter dois objetivos principais: perca ou ganho de peso! Nessas modalidades
                        você define se o objetivo de todos os participantes é perder uma quantidade em Kg ou um % do peso atual.
                    </p>
                </li>
                <li>
                    <h3>
                        ACOMPANHE
                        <strong>OS RESULTADOS</strong>
                    </h3>
                    <p>
                        Depois de tudo cadastrado e os participantes autorizados para sua corrida, basta acompanhar os gráficos e verificar o ranking
                        de cada participante.
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div id="quoted-area" class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/Img/id532.jpg" alt="Responsive image" class="img-circle img-thumbnail img-responsive">
                </div>
                <div class="col-md-10">
                    <blockquote>
                        <h1>
                            <strong>Perdi 10 Kg&nbsp</strong>brincando com amigos do trabalho.
                            <br>foi divertido e muito saudável.
                        </h1>
                        <footer>
                            Yan Justino
                            <div id="ancor"></div>
                            <cite title="Source Title">Participou da corrida IVIA</cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
}
<div class="row" id="home-steps">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    QUERO
                    <strong>CADASTRAR UMA NOVA CORRIDA!!!</strong>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>
                    CADASTRE
                    <br>SUA CORRIDA
                </h3>
                <hr>
                <p>
                    Cadastre uma nova corrida e convide seus amigos para participar. Tudo é muito simples. Você define as regras, e convida
                    seus amigos para participar de sua corrida.
                </p>
            </div>
            <div class="col-md-4">
                <h3>
                    DEFINA
                    <br>AS REGRAS
                </h3>
                <hr>
                <p>
                    As corridas podem ter dois objetivos: perca ou ganho de peso! Nessas modalidades você define se o objetivo dos participantes
                    é perder uma quantidade em Kg ou em %.
                </p>
            </div>
            <div class="col-md-4">
                <h3>
                    ACOMPANHE
                    <br>OS RESULTADOS
                </h3>
                <hr>
                <p>
                    Depois de tudo cadastrado e os participantes autorizados para sua corrida, basta acompanhar os gráficos e verificar o ranking
                    de cada participante.
                </p>
            </div>
        </div>
        <div id="create-new-run-area" class="row">
            @Html.ActionLink("CLIQUE AQUI PARA CADASTRAR UMA NOVA CORRIDA AGORA", "Create", "Corrida", new { @class = "btn btn-lg btn-success" })
        </div>

        @*<div class="row" style="background-color: #e3e3e3; padding:15px">
        <div class="col-md-2">
            <img src="img/winner.png" class="img-responsive" alt="">
        </div>
        <div class="col-md-9">
            <h1>
                COMO POSSO
                <br>
                <strong>PARTICIPAR DE UMA CORRIDA?</strong>
            </h1>
            <p>
                Para participar de uma corrida basta acessá-la e clicar no botão "quero participar". Informe o link ou o nome da corrida
                na caixa a baixo para accessar a corrida desejada.
            </p>
            <p>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1">http://www.corridadepeso.com.br/</span>
                    <input id="find-run" type="text" placeholder="<digite aqui o link da corrida>">
                </div>
            </p>
        </div>
    </div>*@
    </div>
</div>
