
@{
    ViewBag.Title = "Solicitação enviada";
}

<h4>Solicitação Enviada</h4>

    <h3><p>Sua solicitação foi enviada para o administrador da corrida, você receberar um email confirmando a sua participação Aguarde. </p></h3>

  

<div>
    @Html.ActionLink("Retornar", "Index", "Home")
</div>
